<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="front-poly-mx-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <input type="text" value={{prop1::input}}>
    <input type="text" value=[[prop1]]>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class FrontPolyMxApp extends Polymer.Element {
      static get is() { return 'front-poly-mx-app'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'front-poly-mx-app'
          }
        };
      }
    }

    window.customElements.define(FrontPolyMxApp.is, FrontPolyMxApp);
  </script>
</dom-module>
