<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="loginmx-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>LOGIN</h2>
    <iron-ajax id="obtenerProductos"
               url="http://services.odata.org/V4/Northwind/Northwind.svc/Products"
               handle-as="json"
               on-response="mostrarProductos">
    </iron-ajax>
    <iron-ajax  id="validaLogin"
                url="http://localhost:3000/v1/usuarios/login"
                method="POST"
                headers='{"email":"caxlebyj@google.cn","password":"BNZ3xKXg36"}'
                on-response="mostrarLogin">
    </iron-ajax>
    <div>
      <label for="">[[etuser]]</label>
      <input type="text" name="" value={{vluser::input}}>
    </div>
    <div>
      <label for="">[[etpassword]]</label>
      <input type="password" name="" value={{vlpassword::input}}>
    </div>
    <div>
      <button on-click="hacerLogin">[[etlogin]]</button>
      <button on-click="invocarPeticion">Invocar</button>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginmxApp extends Polymer.Element {
      static get is() { return 'loginmx-app'; }
      static get properties() {
        return {
          etuser: {
            type: String
          },
          etpassword: {
            type: String
          },
          etlogin: {
            type: String
          },
          vluser: {
            type: String
          },
          vlpassword: {
            type: String
          },
          productos: {
            type: Array
          }
        };
      }
      hacerLogin(){
        this.$.validaLogin.generateRequest();
      }
      mostrarLogin(data){
        //this.productos = data.detail.response.value
        console.log(data.detail.response)
        console.log("Login correcto de " + this.vluser )
      }
      invocarPeticion(){
        this.$.obtenerProductos.generateRequest();
      }
      mostrarProductos(data){
        //console.log(data.detail.response.value)
        this.productos = data.detail.response.value
        console.log(this.productos)
      }
    }

    window.customElements.define(LoginmxApp.is, LoginmxApp);
  </script>
</dom-module>
